<h1>About</h1>

<p>This is my second Ruby on Rails application, The idea behind this project is to create a "Tumblr" like application, but for Cosplayers! Its intention is for me to practice Ruby on Rails to find out what I know and to find out what there is to left to learn.</p>